[submodule "TrashEngineCore/vendor/glfw"]
	path = TrashEngineCore/vendor/glfw
	url = https://github.com/NightSparrows/glfw
[submodule "TrashEngineCore/vendor/spdlog"]
	path = TrashEngineCore/vendor/spdlog
	url = https://github.com/NightSparrows/spdlog
[submodule "TrashEngineCore/vendor/entt"]
	path = TrashEngineCore/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "TrashEngineCore/vendor/imgui"]
	path = TrashEngineCore/vendor/imgui
	url = https://github.com/NightSparrows/imgui
[submodule "TrashEngineCore/vendor/assimp"]
	path = TrashEngineCore/vendor/assimp
	url = https://github.com/NightSparrows/assimp
